@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e9ecef;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    background-color: #d7e0e9;
}

.player-buttons {
    display: flex;
    flex-direction: row;
    gap: 100px;
    height: 30px;
    margin-bottom: 100px;
    margin-top: 30px;

}
.player-buttons button{
    padding: 5px;
    width: 100px;
    border: 2px solid #bfc0c0;
    background-color: #f0efeb;
}

.player-buttons button:disabled {
    background-color: #f0efeb;
    color: black;
    border: 2px solid #bfc0c0;
}

.player-buttons button:hover {
    background-color: #dbdad3;
}

.player-buttons button:disabled:hover {
    background-color: #f0efeb;
}


#playerWins {
    font-size: 20px;
    border-bottom: 3px solid #93a8ac;
    border-radius: 15%;
}
#computerWins {
    font-size: 20px;
    border-bottom: 3px solid #93a8ac;
    border-radius: 15%;
    
}

#gameBoard {
    display: grid;
    height: 300px;
    width: 300px;
    grid-template:repeat(3, 1fr) / repeat(3, 1fr);
    margin-bottom: 90px;
}

.grid {
    display: flex;
    border: 1px solid black;
    font-size: 60px;
    justify-content: center;
    align-items: center;
}
.grid:hover {
    background-color: rgb(224, 224, 224);
}

.pone {
    border: 2px solid #3d5a80 !important;
}
.ptwo {
    border: 2px solid #ee6c4d !important;
}
.rounds-won {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.1);
}

.modal-content {
    display: flex;
    margin: 10% auto;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 15%;
    padding: 30px;
    gap: 15px;
    border: 1px solid white;
    border-radius: 30px;
}

.result-text {
    font-size: 25px;
    border-bottom: 2px solid #bfc0c0;

}


#resetTwo {
    background-color: white;
    border: none;
    border: 2px solid #3d5a80;
    padding: 5px;
}

#resetTwo:hover {
    background-color: #3d5a80;
    color: white;
    cursor: pointer;
}

.red {
   color: #ee6c4d;
}

.blue {
    color: #3d5a80;
}
.dark-blue {
    color: #98c1d9;
}

.flex-wrapper{
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #adb5bd;
    color: black;
}
@keyframes spin{
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}
.rotate{
    transition: transform 1s;
    padding-left: 5px;
}
.rotate:hover{
    transform: rotate(360deg);
}
.footer i{
    text-decoration: none;
    color: #3d5a80;
    transition: font-size 1s, padding-left 1s;
    font-size: 18px;
}
.footer i:hover {
    font-size: 26px;
    padding-left: 8px;
}