@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e9ecef;
}
.header {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #d7e0e9;
}

.player-buttons {
    display: flex;
    flex-direction: row;
    gap: 100px;
    height: 30px;
    margin-bottom: 30px;
    margin-top: 30px;

}
.player-buttons button{
    padding: 5px;
    width: 100px;
}

#gameBoard {
    display: grid;
    height: 300px;
    width: 300px;
    grid-template:repeat(3, 1fr) / repeat(3, 1fr);
    margin-bottom: 90px;
}

.grid {
    display: flex;
    border: 1px solid black;
    font-size: 60px;
    justify-content: center;
    align-items: center;
}
.grid:hover {
    background-color: rgb(224, 224, 224);
}




.flex-wrapper{
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #adb5bd;
    color: black;
}
@keyframes spin{
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}
.rotate{
    transition: transform 1s;
    padding-left: 5px;
}
.rotate:hover{
    transform: rotate(360deg);
}
.footer i{
    text-decoration: none;
    color: rgb(34, 33, 33);
    transition: font-size 1s, padding-left 1s;
    font-size: 18px;
}
.footer i:hover {
    font-size: 26px;
    padding-left: 8px;
}